@mixin for-size($size) {
  @if $size == mini-phone {
    @media (max-width: map-get($media, "xs")) {
      @content;
    }
  } @else if $size == phone {
    @media (max-width: map-get($media, "sm")) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: map-get($media, "md")) {
      @content;
    }
  } @else if $size == laptop {
    @media (min-width: map-get($media, "lg")) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: map-get($media, "xl")) {
      @content;
    }
  }
}

@mixin button(
  $fontSize,
  $padding,
  $color,
  $backgroundColor,
  $activeBackgroundColor,
  $gap
) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  font-size: $fontSize;
  padding: $padding;
  color: $color;
  gap: $gap;
  transition: 0.3s all;
  border-radius: 4px;
  display: flex;
  border: none;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $activeBackgroundColor;
  }
}

@mixin text($fontsize, $fontWeight, $color, $lineHeight) {
  font-size: $fontsize;
  font-weight: $fontWeight;
  color: $color;
  line-height: $lineHeight;
}
