//variables
<<<<<<< HEAD
$details-background-color: #F6F7F9;


#details-body {
=======
$details-background-color: #f6f7f9;

#details-body {
  .details-main-header {
    background: $white;
    padding-bottom: 2rem;
    z-index: 9;

    #navbar-open-close-button {
      margin-bottom: 32px;
      @include for-size(laptop) {
        display: none;
      }
    }
  }

>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
  .asidediv {
    width: 100%;
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .container {
    width: 100%;
    height: inherit;
    display: flex;
    margin: auto;
<<<<<<< HEAD

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
    nav {
      position: relative;

      @include for-size(phone) {
        display: none;
        width: 35%;
        padding-left: 1rem;
      }

<<<<<<< HEAD


=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
      @include for-size(tablet) {
        display: none;
        width: 35%;
        padding-left: 1rem;
      }

      @include for-size(laptop) {
        display: block;
        padding-left: 3.2rem;
      }
<<<<<<< HEAD
      padding-top: 3.2rem;

      width: 25%;
      height: auto;
      background: $white;
      border-right: 1px solid #F3F5F7;

      .fa-remove {
        @include for-size(tablet) {
          right: 5%
=======

      padding-top: 3.2rem;
      width: 25%;
      height: auto;
      background: $white;
      border-right: 1px solid #f3f5f7;

      .fa-remove {
        @include for-size(tablet) {
          right: 5%;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
        }

        display: none;
        position: absolute;
        right: 4%;
        top: 2%;
        font-size: 20px;
<<<<<<< HEAD
        color:grey;

=======
        color: grey;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
      }

      .type,
      .capacity {
        margin-bottom: 5.6rem;
      }

      .type,
      .capacity,
      .price {
        @include for-size(phone) {
<<<<<<< HEAD

          p,
          span {
            font-size: 1.2rem
=======
          p,
          span {
            font-size: 1.2rem;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
          }
        }
      }

      .type,
      .capacity {
<<<<<<< HEAD

        @include text(2rem, 600, $secondinary-light-400, 150%);
        letter-spacing: -0.02em;

=======
        @include text(2rem, 600, $secondinary-light-400, 150%);
        letter-spacing: -0.02em;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
      }

      span {
        @include for-size(phone) {
          margin-left: 0.2rem;
        }

        margin-left: 0.5rem;
        color: $secondinary-light-300;
      }

<<<<<<< HEAD

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
      .check-div {
        display: flex;
        margin-bottom: 3.2rem;

        p {
<<<<<<< HEAD
          @include for-size (phone) {
=======
          @include for-size(phone) {
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            margin: 0;
            font-size: 1.2rem;
          }

          margin-left: 1rem;
        }
      }

      .price {
        img {
          margin-bottom: 1.6rem;
          width: 80%;
        }

        :last-child {
          @include for-size(phone) {
            font-size: 1.2rem;
          }

<<<<<<< HEAD
          @include text(2rem, 600, $secondinary-light-400, 150%)
=======
          @include text(2rem, 600, $secondinary-light-400, 150%);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
        }
      }

      .type,
      .capacity,
      .price {
        .header-p {
          @include for-size(phone) {
<<<<<<< HEAD
            line-height: 0px
          }

          @include text(1.2rem, 600, $secondinary-light-300, 1.5rem);
          margin-bottom:2.8rem
=======
            line-height: 0px;
          }

          @include text(1.2rem, 600, $secondinary-light-300, 1.5rem);
          margin-bottom: 2.8rem;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
        }
      }
    }

    main {
      position: relative;
      .fa-bars {
        font-size: 30px;
        margin-top: 20px;

        @include for-size(phone) {
          display: block;
        }

        @include for-size(tablet) {
          display: block;
        }

        @include for-size(laptop) {
          display: NONE;
        }
      }

      @include for-size(phone) {
        width: 100%;
        padding: 3.2rem 2.4rem 0 2.4rem;
      }

      @include for-size(tablet) {
        width: 100%;
        padding: 3.2rem 2.4rem 0 2.4rem;
      }

      height: auto;
      background: $details-background-color;
      padding: 3.2rem 3.2rem 0 3.2rem;

      .cards {
        @include for-size(phone) {
          display: flex;
          flex-direction: column;
        }

        @include for-size(tablet) {
          display: flex;
          flex-direction: column;
        }

        @include for-size(laptop) {
          display: flex;
          flex-direction: row;
        }

        .left {
          .row1 img {
            @include for-size(phone) {
              width: 100%;
            }

            @include for-size(tablet) {
              width: 100%;
            }

            @include for-size(laptop) {
              width: auto;
            }
<<<<<<< HEAD

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
          }

          .left_image_collaj {
            @include for-size(phone) {
<<<<<<< HEAD

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
              margin-top: 0;
            }

            display: flex;
            justify-content: space-between;
            margin-top: 2.4rem;

            .img {
              @include for-size(phone) {
                width: 30%;
                height: 12.4rem;
              }

              @include for-size(tablet) {
                width: 30%;
                height: 12.4rem;
              }
            }

            .car1 {
              width: 14.8rem;
              height: 12.4rem;
            }
<<<<<<< HEAD

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
          }
        }

        .right {
          @include for-size(phone) {
            margin-left: 0;
<<<<<<< HEAD
            padding: 1.6rem
=======
            padding: 1.6rem;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
          }

          @include for-size(tablet) {
            margin-left: 0;
          }

          position: relative;
          width: 100%;
          height: auto;
          background-color: $white;
          margin-left: 3.2rem;
          padding: 2.4rem 2.4rem 3.2rem 2.4rem;
          border-radius: 1rem;

          h1 {
            @include for-size(phone) {
              margin-bottom: 0.9rem;
              font-size: 2rem;
            }

            @include for-size(tablet) {
              @include text(3.2rem, 700, $secondinary-default-500, 150%);
              margin-bottom: 1rem;
            }
          }

          .heart-icon {
            @include for-size(phone) {
              display: none;
            }

            @include for-size(tablet) {
              display: block;
              position: absolute;
              top: 2.7rem;
              right: 2.6rem;
            }
          }

          .right_starbox {
            h1 {
              letter-spacing: -0.03em;
<<<<<<< HEAD
              @include text(3.2rem, 700, $secondinary-default-500, 150%)
=======
              @include text(3.2rem, 700, $secondinary-default-500, 150%);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }

            svg {
              width: 1rem;
              height: 0.9rem;
            }

            span {
              @include for-size(phone) {
                line-height: 1.5rem;
                font-size: 1.2rem;
              }

<<<<<<< HEAD
              @include text(1.4rem, 500, $secondinary-light-400, 1.8rem)
=======
              @include text(1.4rem, 500, $secondinary-light-400, 1.8rem);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }

            p {
              @include for-size(phone) {
                margin-top: 3.4rem;
                font-size: 1.2rem;
              }

              @include for-size(tablet) {
                letter-spacing: -0.02em;
                margin-top: 3.6rem;
              }

<<<<<<< HEAD
              @include text(2rem, 400, $secondinary-light-400, 200%)
=======
              @include text(2rem, 400, $secondinary-light-400, 200%);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }
          }

          .text-table {
            @include for-size(phone) {
              margin-top: 1.6rem;
            }

            margin-top: 3.2rem;

            .row {
              display: flex;
              justify-content: space-between;

              h2 {
                @include for-size(phone) {
                  font-size: 1.2rem;
<<<<<<< HEAD
                  line-height: 1.5rem
                }

                @include text(2rem, 600, $secondinary-light-400 , 150%);
                margin-bottom: 1.6rem
=======
                  line-height: 1.5rem;
                }

                @include text(2rem, 600, $secondinary-light-400, 150%);
                margin-bottom: 1.6rem;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
              }
            }
          }

          .right_footer {
            @include for-size(phone) {
              margin-top: 3.2rem;
            }

            display: flex;
            justify-content: space-between;
            margin-top: 6.8rem;

            .right_footer_left {
<<<<<<< HEAD
              flex-direction: column
=======
              flex-direction: column;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }

            h2 {
              @include for-size(phone) {
                line-height: 2.5rem;
                font-size: 2rem;
              }

              display: inline;
<<<<<<< HEAD
              @include text(2.8rem, 700, $secondinary-default-500 , 3.5rem);
=======
              @include text(2.8rem, 700, $secondinary-default-500, 3.5rem);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }

            .right_footer_h {
              @include text(1.6rem, 700, $secondinary-light-300, 2rem);
            }

            .btn {
              padding: 1.6rem 3.2rem;
            }
          }
        }
      }

<<<<<<< HEAD
      ;

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
      //reviews
      .reviews {
        @include for-size(phone) {
          padding: 1.6rem 1.6rem 2.6rem 1.6rem;
        }

        @include for-size(tablet) {
          padding: 2.4rem 2.4rem 3.4rem 2.4rem;
        }

        margin-top: 3.2rem;
        background-color: $white;
        border-radius: 1rem;

        header {
          display: flex;

          h2 {
            @include for-size(phone) {
              line-height: 150%;
            }

            margin-right: 1.2rem;
<<<<<<< HEAD
            @include text(2rem, 600, $secondinary-default-500 , 2.5rem);
          }

          ;

=======
            @include text(2rem, 600, $secondinary-default-500, 2.5rem);
          }

>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
          .btn {
            padding: 0.6rem 1.2rem;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.8rem;
            align-items: center;
            color: $white;
            border: none;
<<<<<<< HEAD
            background: #3563E9;
=======
            background: #3563e9;
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            border-radius: 0.4rem;
          }
        }

        .comments {
          @include for-size(phone) {
            margin-top: 2.4rem;
          }

          margin-top: 3rem;

          .comment {
            display: flex;
            position: relative;

            .icons {
              position: absolute;
              right: 0;
              top: 0;

              h5 {
                @include for-size(phone) {
                  font-size: 1.2rem;
                }

                text-align: end;
<<<<<<< HEAD
                @include text(1.4rem, 500, $secondinary-light-300 , 150%)
=======
                @include text(1.4rem, 500, $secondinary-light-300, 150%);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
              }

              .right_starbox {
                svg {
                  @include for-size(phone) {
                    width: 1rem;
<<<<<<< HEAD
                    ;
=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
                    height: 1rem;
                  }
                }
              }
<<<<<<< HEAD

=======
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }

            img {
              margin-right: 1.6rem;
              width: 5.6rem;
              height: 5.6rem;
            }
          }

          .user-data {
            h2 {
              @include for-size(phone) {
<<<<<<< HEAD
                font-size: 1.6rem
              }

              @include text(2rem, 700, $secondinary-default-500 , 150%);
              margin-bottom: 0.8rem
            }

            h4 {
              @include text(1.4rem, 500, $secondinary-light-300 , 150%);
=======
                font-size: 1.6rem;
              }

              @include text(2rem, 700, $secondinary-default-500, 150%);
              margin-bottom: 0.8rem;
            }

            h4 {
              @include text(1.4rem, 500, $secondinary-light-300, 150%);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
              margin-bottom: 1.2rem;
            }

            p {
              @include for-size(phone) {
                font-size: 1.2rem;
              }

<<<<<<< HEAD
              @include text(1.4rem, 400, $secondinary-light-400 , 200%)
=======
              @include text(1.4rem, 400, $secondinary-light-400, 200%);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
            }
          }

          .comment2 {
            @include for-size(phone) {
              margin-top: 2rem;
            }

            margin-top: 2.4rem;
          }
        }

        .show-all {
          display: flex;
          justify-content: center;
          margin-top: 3.4rem;

          h4 {
<<<<<<< HEAD
            @include text(1.6rem, 600, $secondinary-light-300 , 2.4rem)
=======
            @include text(1.6rem, 600, $secondinary-light-300, 2.4rem);
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
          }

          svg {
            margin-top: 0.9rem;
            margin-left: 1.2rem;
          }
        }
      }
<<<<<<< HEAD
    }
  }
}
=======

      #pop-car-section {
        width: 100%;
        background-color: #f6f7f9;
        padding-top: 42px;
        transition: 0.5s;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .pop-cars-container {
          width: 100%;
          display: flex;
          gap: 32px;
          justify-content: space-between;
          overflow-x: scroll;
          margin-bottom: 42px;
        }
        .heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          h4 {
            @include text(1.6rem, 600, $secondinary-light-300, 2.016rem);
          }

          a {
            @include text(1.6rem, 600, $primary-default-500, 2.016rem);
            text-decoration: none;
            transition: 0.3s;
            &:hover {
              color: $primary-dark-800;
            }
          }
        }
      }
    }
  }
}
>>>>>>> 4c119c6f40f4e23333f3cb4b04701a63d7dbe7df
