@mixin flex($justify-content, $align-items, $flex-direction, $gap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  gap: $gap;
}

.payment-error,
.selected.payment-error,
.confirmation-label.payment-error {
  border: 1px solid $error-default-500 !important;
}

.payment-main-header {
  background: $white;
  padding-bottom: 2rem !important;
  z-index: 9;
}

.main-car-img {
  width: 17rem;

  @include for-size(phone) {
    width: 12rem;
  }
}

#payment-body {
  background-color: #f6f7f9;

  h2 {
    @include text(1.6rem, 700, $secondinary-default-500, 2.4rem);

    @include for-size(laptop) {
      @include text(2rem, 700, $secondinary-default-500, 3rem);
    }
  }

  p {
    @include text(1.4rem, 500, $secondinary-light-300, 2.1rem);
  }
}

// ! Billing info section
.payment-container {
  position: relative;
  padding: 3.2rem;

  @include for-size(laptop) {
    position: static;
  }
  @include flex(space-between, initial, column, 3.2rem);

  @include for-size(laptop) {
    @include flex(space-between, initial, row, 3.2rem);
    height: 100vh;
  }

  @include for-size(phone) {
    padding: 2.4rem;
  }
}

.payment-header {
  padding: 0;
  @include flex(space-between, center, row, 2.4rem);

  @include for-size(phone) {
    p {
      @include text(1.2rem, 500, $secondinary-light-300, 1.5rem);
    }
    div {
      flex: 1;
    }
  }
}

.payment-label {
  display: block;
  margin-top: 2.4rem;
  @include text(1.6rem, 600, $secondinary-default-500, 2.4rem);
}

.payment {
  flex: 2;
  order: 2;
  @include for-size(laptop) {
    order: 1;
    overflow-y: scroll;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.payment-details {
  border-radius: 1rem;
  padding: 2.4rem;
  background-color: $white;
}

.form-info {
  > div {
    @include for-size(desktop) {
      @include flex(space-between, center, row, 3.2rem);
    }

    @include flex(space-between, stretch, column, initial);

    > div {
      flex: 1;
      @include flex(space-between, stretch, column, initial);
      input {
        flex: 1;
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 1.6rem 3.2rem;
        background-color: #f6f7f9;
        @include text(1.4rem, 500, $secondinary-light-300, 1.5rem);
        &::placeholder {
          color: $secondinary-light-300;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }

  label {
    margin-bottom: 2.4rem;
  }
}

// ! Rental summary Section

.rental-summary {
  flex: 1;
  padding: 2.4rem;
  background-color: $white;
  border-radius: 1rem;
  order: 1;
  @include for-size(laptop) {
    align-self: flex-start;
  }
}

.car {
  padding-block: 3.2rem;
  @include flex(flex-start, center, row, 1.6rem);
  border-bottom: thin solid #c3d4e966;
}

.rental-car-info {
  h1 {
    @include text(2rem, 700, $secondinary-default-500, 2.8rem);

    @include for-size(desktop) {
      @include text(3.2rem, 700, $secondinary-default-500, 4.8rem);
    }
  }

  > div {
    @include flex(flex-start, center, column, 1rem);

    @include for-size(tablet) {
      @include flex(flex-start, center, row, 1rem);
    }
  }
}

.rental-car-img {
  background-color: $primary-default-500;
  padding: 2.4rem 0.7rem;
  border-radius: 1rem;

  @include for-size(laptop) {
    padding: 4rem 2rem;
  }
}

.total-price {
  > div {
    margin-block: 2.4rem;
    @include flex(space-between, center, row, 1rem);

    span {
      @include text(1.6rem, 600, $secondinary-default-500, 2.4rem);
    }
  }
}

.promo-input {
  background-color: #f6f7f9;
  border-radius: 1rem;
  padding-right: 3.2rem;

  @include flex(space-between, center, row, initial);

  input {
    all: unset;
    flex: 1;
    padding: 1.6rem 3.2rem;
    @include text(1.4rem, 500, $secondinary-light-300, 1.5rem);

    @include for-size(phone) {
      width: 50%;
      padding: 1rem 2rem;
    }

    &::placeholder {
      @include text(1.4rem, 500, $secondinary-light-300, 1.5rem);
    }
  }

  a {
    text-decoration: none;
    @include text(1.6rem, 600, $secondinary-default-500, 2.4rem);

    @include for-size(phone) {
      @include text(1.2rem, 600, $secondinary-default-500, 1.5rem);
    }

    &:hover {
      color: $secondinary-light-300;
    }
  }
}

.total-rental-price {
  margin-block: 2.4rem;
  @include flex(space-between, center, row, initial);

  @include text(2rem, 700, $secondinary-default-500, 3rem);

  h1 {
    @include text(2rem, 700, $secondinary-default-500, 3rem);
    @include for-size(dekstop) {
      @include text(3.2rem, 700, $secondinary-default-500, 4rem);
    }
  }
}

.rental-info {
  padding: 2.4rem;
  margin-block: 3.2rem;
  background-color: $white;
  border-radius: 1rem;
}

.select-info {
  > :last-child {
    width: auto;
    @include for-size(desktop) {
      width: 48.2%;
    }
  }
}

.payment-method {
  padding: 2.4rem;
  margin-block: 3.2rem;
  background-color: $white;
  border-radius: 1rem;
  header {
    padding: 0;
  }
  > div {
    background-color: #f6f7f9;
    padding: 2.4rem;
    border-radius: 1rem;

    input {
      background-color: $white !important;
    }
  }

  > :nth-child(2n) {
    margin-block: 2.4rem;
  }
}

.method {
  @include flex(space-between, center, row, initial);

  input {
    transform: scale(1.4);
  }

  label {
    margin-block: auto;
  }
}

// ! Confirmation section
.confirmation {
  padding: 2.4rem;
  margin-block: 3.2rem;
  background-color: $white;
  border-radius: 1rem;
}

.confirmation-label {
  display: block;
  padding: 1.6rem 3.2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  background-color: #f6f7f9;
  margin-block: 3.2rem;
  @include text(1.2rem, 600, $secondinary-default-500, 1.9rem);

  @include for-size(laptop) {
    @include text(1.6rem, 600, $secondinary-default-500, 2.4rem);
  }

  @include flex(flex-start, center, row, initial);

  span {
    padding-left: 2.2rem;
  }

  input {
    transform: scale(1.4);
  }
}

.confirmation-footer {
  background-color: $white;
  margin-top: 3.2rem;
  padding: 0;
  h3 {
    @include text(1.6rem, 600, $secondinary-default-500, 2.4rem);
    margin-top: 2rem;
  }
}

.confirmation-btn {
  border-radius: 1rem !important;

  &:hover {
    filter: brightness(130%);
  }
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 1rem;
  height: 1rem;
  background: url(../images/payment-images/arrow-icon.svg) no-repeat center
    center;
}

.date-input.date-placeholder::before {
  width: 100%;
  content: attr(placeholder);
}

.date-input.date-placeholder:hover::before {
  width: 0%;
  content: "";
}

.time-input.time-placeholder::before {
  width: 100%;
  content: attr(placeholder);
}

.time-input.time-placeholder:hover::before {
  width: 0%;
  content: "";
}

// ! Custom select
.select-box {
  @include flex(initial, initial, column, initial);
  position: relative;
  .options-container {
    background: #f5f6fa;
    color: $secondinary-light-300;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 1rem;
    overflow: hidden;
    order: 1;
  }

  .selected {
    background: #f6f7f9;
    border-radius: 1rem;
    margin-bottom: 8px;
    position: relative;
    order: 0;
    border: 1px solid transparent;
    &::after {
      content: "";
      background: url(../images/payment-images/arrow-icon.svg) no-repeat center
        center;
      position: absolute;
      height: 1rem;
      width: 1rem;
      right: 3.2rem;
      top: 2.2rem;
      transition: all 0.4s;
    }
  }
}

.options-container {
  position: absolute;
  top: 6rem;
}

.select-box .options-container.active {
  max-height: 14rem;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: $secondinary-light-300;
  border-radius: 0 1rem 1rem 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: $secondinary-light-400;
  border-radius: 0 1rem 1rem 0;
}

.select-box .option,
.selected {
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  @include text(1.4rem, 500, $secondinary-light-300, 2.1rem);
}

.select-box .option:hover {
  background: $secondinary-light-200;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
